body {
    background-image: url("Assets/board.png");
    background-repeat: no-repeat;
    background-size: 305px;
    background-position: 162mm 52.5%;
}

td {
    border: 2px solid #333;
    height: 107px;
    width: 99px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

.human {
    background-image: url("Assets/red.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.computer {
    background-image: url("Assets/yellow.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
