body {
    background-image: url("Assets/board.png");
    background-repeat: no-repeat;
    background-size: 305px;
    background-position: 162mm 52.5%;
}

td {
    border: 2px solid #333;
    height: 107px;
    width: 99px;
    cursor: pointer;
}